Repository Team-Symphony/Harmony, pull requests merged in 2024-10, with the labels that each got.

#16 added copper bulb delay
  src/main/java/dev/symphony/harmony/config/HarmonyConfig.java
  src/main/java/dev/symphony/harmony/mixin/redstone/OneTickCopperBulbDelay.java
  src/main/resources/assets/harmony/lang/en_us.json
  src/main/resources/harmony.mixins.json
Labels: feature: redstone

#17 Reduce horse armor bucking chance when wearing armor
  src/main/java/dev/symphony/harmony/config/HarmonyConfig.java
  src/main/java/dev/symphony/harmony/mixin/transportation/HorseArmorPreventsBucking.java
  src/main/resources/assets/harmony/lang/en_us.json
  src/main/resources/harmony.mixins.json
Labels: feature: transport

#29 Add beaconsAffectTamedMobs
  src/main/java/dev/symphony/harmony/config/HarmonyConfig.java
  src/main/java/dev/symphony/harmony/mixin/potions/BeaconBlockEntityMixin.java
  src/main/resources/assets/harmony/lang/en_us.json
  src/main/resources/harmony.mixins.json
Labels: feature: potions

#32 Added itemDespawnTime settings
  src/main/java/dev/symphony/harmony/config/HarmonyConfig.java
  src/main/java/dev/symphony/harmony/mixin/combat/ItemEntityMixin.java
  src/main/resources/assets/harmony/lang/en_us.json
  src/main/resources/harmony.mixins.json
Labels: feature: combat

#30 Improve inter-mod compatibility + "general fixes"
  src/main/java/dev/symphony/harmony/ModTags.java
  src/main/java/dev/symphony/harmony/mixin/building/ArmorStandStickArms.java
  src/main/java/dev/symphony/harmony/mixin/redstone/AbstractBlockImplMixin.java
  src/main/java/dev/symphony/harmony/mixin/redstone/OneTickCopperBulbDelay.java
  src/main/java/dev/symphony/harmony/mixin/transportation/ExitVehicleOnDamage.java
  src/main/java/dev/symphony/harmony/mixin/transportation/HorseArmorPreventsBucking.java
  src/main/resources/data/harmony/tags/entity_type/vehicles.json
  src/main/resources/harmony.mixins.json
Labels: style

#34 Add husksDropSandOnConvert
  src/main/java/dev/symphony/harmony/Harmony.java
  src/main/java/dev/symphony/harmony/config/HarmonyConfig.java
  src/main/java/dev/symphony/harmony/loot/HarmonyLootContextTypes.java
  src/main/java/dev/symphony/harmony/loot/HarmonyLootTables.java
  src/main/java/dev/symphony/harmony/mixin/accessor/LootContextTypesAccessor.java
  src/main/java/dev/symphony/harmony/mixin/accessor/LootTablesAccessor.java
  src/main/java/dev/symphony/harmony/mixin/mobs/HuskEntityMixin.java
  src/main/resources/assets/harmony/lang/en_us.json
  src/main/resources/data/harmony/loot_table/conversion/husk.json
  src/main/resources/harmony.mixins.json
Labels: feature: mobs

#36 Added a boolean to toggle the Item Despawn Time feature so it can be easily disabled
  src/main/java/dev/symphony/harmony/config/HarmonyConfig.java
  src/main/java/dev/symphony/harmony/mixin/combat/ItemEntityMixin.java
  src/main/resources/assets/harmony/lang/en_us.json
Labels: config

#20 added ability to change the redstone lamp turning off delay(default 0)
  src/main/java/dev/symphony/harmony/config/HarmonyConfig.java
  src/main/java/dev/symphony/harmony/mixin/redstone/RemoveRedstoneLampDelay.java
  src/main/resources/assets/harmony/lang/en_us.json
  src/main/resources/harmony.mixins.json
Labels: feature: redstone
